/*
    https://colorhunt.co/palette/175532
*/
:root {
    --first-color: #1eb2a6;
    --second-color: #d4f8e8;
    --third-color: #ffa34d;
    --fourth-color: #f67575;
    --font-color: #646464;
}

* {
    color: var(--font-color);
    margin: 0;
}

nav {
    display: flex;
    height: 10vh;
    background-color: var(--first-color);
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    /*margin-left: 2rem;*/
}